html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace, 'Courier New', Courier;
    font-weight: bold;
    font-size: 80px;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: #303030;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}

/* Display */

#display {
    background-color: #306050;
    color: #eeeeee;
    text-align: end;
    margin: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

/* Calculator Buttons */

button {
    font-size: 65px;
    font-family: monospace, 'Courier New', Courier;
    border: inset #505050;
    border-radius: 5px;
}

#calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    gap: 10px;
}

.operator, #sign-swap {
    background-color: #60dd90;
}

#equals {
    grid-column: 3 / span 2;
    background-color: #60dd90;
}

#clear, #backspace {
    background-color: #ee6030;
}

.pressed {
    background-color: #30aa60;
}